@model string
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/index.css">
</head>
<body>
    <h1>To jest widok na akcje About</h1>
    <section>@ViewBag.info</section>
    <section>@Model</section>
</body>
</html>